/* src/components/PropertyForm.css */
.property-form {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 30px;
  }
  
  button:hover {
    background-color: #45a049;
  }

  .small-text {
    font-size: 14px; /* Adjust the font size as needed */
  }
  
  /* Add any additional styles as needed */
